@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
    --logo-blue: #96d0cb;
    --broad-grey: #63666a;
    --light-grey: #eeeeee;
    --text: #2c3e50;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

main, header, aside, section, footer {
    margin: 0;
    padding: 0.5rem;
    color: var(--broad-grey);
}
header {
    border-bottom:solid 1px var(--light-grey);
    min-height: 20px;
}
footer {
    border-top: solid 1px var(--light-grey);
    color: var(--text);
}
@media screen and (min-width: 512px){
    .flex-container {
        display: flex;
    }
}
.center {
    margin: auto;
    max-width: 72rem;
}
.flex-wrap    { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  } 
.sidebar {
    flex: 0 1 500px;
}
.flex-box {
    flex: 0 1 200px;
}
.content {
    color: var(--text);
    font-size: 0.875rem;
}
h1.header{
    color: var(--logo-blue);
    margin: 0px;
}
