.icomut-clickable-label {
    cursor: pointer;
}

.panel-label, .legend-item > text {
    fill: #3f3f3f;
}

.legend-item > rect {
    stroke-width: 1;
    stroke: #6a6a6a;
    rx: 2;
}

.legend-item > text {
    font-size: 12px;
}


/* styling lattice components */
.ljs--x-axis path, .ljs--x-axis > .tick line, .ljs--y-axis path, .ljs--y-axis > .tick line {
    stroke: #3f3f3f !important;
}

.ljs--x-axis text, .ljs--y-axis text {
    color: #3f3f3f !important;
}

text.ljs--y-axis-label {
    fill: #3f3f3f;
    font-size: 12px;
}