@import "./AreaPlot.css";
@import "./Axis.css";
@import "./BarcodePlot.css";
@import "./interactive.css";
@import "./LinePlot.css";
@import "./Tooltip.css";

/* Bar plot labels */
.ljs--bar-label {
  font-size: 11px;
  fill: #333;
}
